img {
    height: 300px;
    width: 100%;
}

.container {
    width: 80%;

}

.header {
    border: 2px solid #f1f1f1;
    color: #589966;
    margin-bottom: 10px;
}
th,
td {
    border: 1px solid #000;
}

th {
    border-top: 11px solid #000;
}

td {
    border-bottom: 1px solid #000;
    width: 100%;
}
.form-header {
    background-color: #cccccc;
}